/* additional style for code */
code
{
	font-family:courier;
	font-size:120%;
	padding:3px;
	margin:0px;
	background-color:#ddd;
	color:#448;
	font-weight:bold;
}

div.fragment div.line
{
	font-family:courier;
	font-size:110%;
	background-color:#ddd;
	color:#448;
	font-weight:bold;
}
