/*
This style sheet is to be used with the output of this:
build/supported > supp.html
*/

body {font-family:sans-serif;}

a { color:inherit; text-decoration:none; }
ul a { text-decoration:underline; }

table
{
	border-collapse:collapse;
	border: solid 1px black;
	table-layout: fixed;
	width:80%;
}

th,tr,td
{
	border: solid 1px black;
}

td
{
	text-align:left;
}
td.cent
{
	text-align:center;
}

th
{
	font-family:bold;
}
th.col1 { width:5em; }
th.col2 { width:10em; }
th.col3 { }
th.col4 { }

table#t2 th.col3 { width:5em; }
table#t1 th.col3 { width:5em; }

td{
	word-wrap: break-word;
/*white-space:normal; */
}